include requirements.txt requirements-tray.txt uv.lock light-desktop wled-logo.png
recursive-include scripts *.py
recursive-include tests *.py
recursive-include lightss_assets *.png

recursive-include packaging *.desktop *.md
